
/****************************/
/* Links table header style */
/****************************/

th{   
   height:30px;   
   color:white;
   text-shadow: darkslateblue 1px 1px;
   text-align: left;   
   background-color:lightblue;    
   min-width:20px;
}

.linkTableHeaderStyle{    
    border-right:2px solid white;
    padding-right:20px;   
}

th.chkColmnClass{
    width:20px;
}

/*****************************/
/* Links table columns style */
/*****************************/

td.linksTableCellClass{
    border-right:2px solid lightblue;
    overflow-x: auto;   
}

td.filterDescClass{
    width:110px;
    color:#4b0082;
    vertical-align: middle    
}

/****************/
/* Tables style */
/****************/

#linksTableId{
    border: 0px;
    width:100%;    
}

#divDownlaodList   {
    overflow-x: hidden;
}

/****************************/
/* Misc style */
/****************************/

.downloadMasterFont
{
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: normal;
    font-family: tahoma;
}

#divFooter
{
    height: 25px;
}

label{
	color:#0361ae;
}

div.extensionHeader
{
    color:#4b0082;
    background-color:white;
    font: 34px tahoma;
    height:48px;
}

#header_tbl
{
    width:100%;
    border:0;
}

#facebook_btn_hdr_clmn
{
    width:90px;
}